<% provide :title, title %>
<% provide :btn_title, btn_title %>

<div class="col-sm-10 col-xs-10 col-md-10 col-lg-10 col-sm-offset-1
  col-xs-offset-1 col-md-offset-1 col-lg-offset-1 nht-admin-book-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <h1><%= title %></h1>
      <%= form_for [:admin, @book], authenticity_token: true, remote: true do |f| %>
        <div id="nht-book-errors"></div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-th-list nht-icon" aria-hidden="true"></i>
          </span>
          <% if @category %>
            <%= text_field :category, :id, value: @category.name,
              disabled: true, class: "form-control" %>
            <%= f.hidden_field :category_id, value: @category.id %>
          <% else %>
            <%=  f.select :category_id, @categories.collect {|category|
              [category.name, category.id]}, {}, class: "form-control" %>
          <% end %>
        </div>

        <div>
          <%= f.fields_for :authors do |author| %>
            <%= render "author_fields", f: author %>
            <%= link_to_add_fields f, :authors %>
          <% end %>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-info nht-icon" aria-hidden="true"></i>
          </span>
          <%= f.text_field :title, placeholder: t("book.title"),
            class: "form-control" %>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-file nht-icon" aria-hidden="true"></i>
          </span>
          <%= f.number_field :pages, class: "form-control" %>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <span class="fa fa-calendar nht-icon"></span>
          </span>
          <%= f.text_field :publish_date, class: "form-control",
            placeholder: t("book.publish_date"),
            data: {provide: "datepicker"}, "data-date-format" => "dd/mm/yyyy" %>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-file-image-o nht-icon" aria-hidden="true"></i>
          </span>
          <%= f.file_field :photo, class: "form-control" %>
        </div>

        <div>
          <%= f.label :description, t("book.description") %>
          <%= f.text_area :description, placeholder: t("book.description"),
            class: "form-control nht-book-description" %>
        </div>

        <%= f.submit btn_title, class: "btn btn-primary nht-admin-btn-book" %>
        <%= link_to t("book.cancel"), "#", data: {dismiss: "modal"},
          class: "btn btn-danger nht-admin-btn-book" %>
        <div class="clearfix"></div>
      <% end %>
    </div>
  </div>
</div>
