<div class="col-sm-10 col-xs-12 col-md-12 col-lg-12 nht-list_book">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= link_to "<i class='fa fa-times' aria-hidden='true'></i>".html_safe, "#",
        data: {dismiss: "modal"}, class: "close" %>
      <h1>
        <%= @title.humanize %>
      </h1>
      <h2>
        <% if @author %>
          <span id="favorite_author-form" title="Favorite">
            <%= render "favorite_authors/favorite_author" %>
          </span>
        <% end %>
      </h2>
      <% books.each do |book| %>
        <div class="col-sm-6 col-sm-4 col-md-3 col-log-3 nht-list-book-content">
          <%= link_to book do %>
            <%= image_tag book.photo.url, class: "nht-book-photo", alt: book.title %>
          <% end %>
          <p>
            <div class="nht-book-author">
              <%= link_to truncate(book.title, length: Settings.book_title_length), book %>
            </div>
          </p>
          <hr>
        </div>
      <% end %>
      <%= paginate books, remote: true %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
