<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1
  col-md-offset-1 col-lg-offset-1 nht-request-index">
  <h1><%= t "request.all" %></h1>
  <%= link_to t("request._new"), new_user_request_path(current_user), remote: true,
    class: "btn btn-primary nht-btn-request" %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t "request.book_title" %></th>
        <th><%= t "request.book_publish_date" %></th>
        <th><%= t "request.book_author" %></th>
        <th><%= t "request.action" %></th>
      </tr>
    </thead>
    <tbody id="nht-requests">
      <%= render "request_index" %>
    </tbody>
  </table>
  <%= paginate @requests, remote: true %>
</div>
<div id="request-modal" class="modal fade"></div>
