<div id="about">
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading"><%= t :about %></h2>
          <h3 class="section-subheading text-muted"><%= t :about_us %></h3>
        </div>
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading"><%= t "sessions.name.tien" %></h2>
          <p class="lead">
            <%= t "tien.student_id" %>
          </p>
          <p class="lead">
            <%= t "tien.class" %>
          </p>
          <p class="lead">
            <%= t "tien.university" %>
          </p>
          <p class="lead">
            <%= t "tien.position" %>
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6 td-about-image">
          <%= image_tag "tien.jpg", class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading"><%= t "sessions.name.tung" %></h2>
          <p class="lead">
            <%= t "tung.student_id" %>
          </p>
          <p class="lead">
            <%= t "tung.class" %>
          </p>
          <p class="lead">
            <%= t "tung.university" %>
          </p>
          <p class="lead">
            <%= t "tung.position" %>
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6 td-about-image">
          <%= image_tag "tung.jpg", class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading"><%= t "sessions.name.hai" %></h2>
          <p class="lead">
            <%= t "hai.student_id" %>
          </p>
          <p class="lead">
            <%= t "hai.class" %>
          </p>
          <p class="lead">
            <%= t "hai.university" %>
          </p>
          <p class="lead">
            <%= t "hai.position" %>
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6 td-about-image">
          <%= image_tag "hai.jpg", class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>


  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading"><%= t "sessions.name.minh" %></h2>
          <p class="lead">
            <%= t "minh.student_id" %>
          </p>
          <p class="lead">
            <%= t "minh.class" %>
          </p>
          <p class="lead">
            <%= t "minh.university" %>
          </p>
          <p class="lead">
            <%= t "minh.position" %>
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6 td-about-image">
          <%= image_tag "minh.jpg", class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
</div>
