<!-- Profile -->
<div class="w3-container w3-content nht-profile-home">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
          <%= render "profile" %>
        </div>
      </div>
      <br>

      <!-- Interests -->
      <div class="w3-card-2 w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p><%= t "profile.interests" %></p>
          <p>
            <% @books.each_with_index do |book, i| %>
              <span class="w3-tag w3-small w3-theme-d1">
                <%= link_to book do %>
                  <%= truncate(book.title, length: 20) %>
                <% end %>
              </span>
            <% end %>
          </p>
        </div>
      </div>
      <br>
    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">
      <%= render "reviews" %>
      <!-- End Middle Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card-2 w3-round w3-white w3-center">
        <%= render "activities" %>
        <div class="w3-container">
          <div class="nht-book-most_book">
            <p><%= t "book.most_book" %>:</p>
            <% @most_books.each do |book| %>
              <div class="nht-book-most">
                <%= link_to book do %>
                  <%= image_tag book.photo.url, class: "width", alt: book.title %>
                <% end %>
                <% book.authors.each do |author| %>
                  <%= link_to user_list_books_path(current_user,
                    author_id: author.id), remote: true do %>
                    <p class="nht-book-author">
                      <%= author.name %>
                    </p>
                  <% end %>
                <% end %>
                <hr>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<div id="list_book-modal" class="modal fade"></div>
