<div class="nht-reviews">
  <h2><%= t "review.title" %></h2>
</div>
<% @reviews.each do |review| %>
  <div class="w3-container w3-card-2 w3-white w3-round w3-margin nht-review-index">
    <%= link_to review.user do %>
      <%= image_tag review.user.image.url, class: "w3-left w3-circle w3-margin-right img-circle",
        alt: "Avatar" %>
      <p><strong><%= review.user.name %></strong></p>
    <% end %>
    <div class="nht-review-title-book"><%= link_to review.book.title, review.book %></div>
    <%= review.title %>
    <% review.rate.times do %>
      <i class="fa fa-star fa-fw w3-text-theme"></i>
    <% end %>
    <span class="small">
      <%= time_ago_in_words review.created_at %>
      <%= t "review.ago" %>
    </span>
    <hr class="w3-clear">
    <div class="w3-row-padding nht-review">
      <%= simple_format review.content %>
    </div>

    <div>
      <div class="nht-sum-like-cmt-page" id="nht-sum-like-cmt-<%= review.id %>">
        <span class="more">
          <%= link_to t("review.more"), review %>
        </span>
        <%= render "shared/sum_like_cmt", review: review %>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
<% end %>
<%= paginate @reviews %>
