<div class="row nht-book-index">
  <div class="col-xs-10 col-sm-8 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1
    col-md-offset-1 col-lg-offset-1">
    <h2><%= t "book.all_book" %></h2>
    <%= search_form_for @q, class: "navbar-form" do |f| %>
      <div class="nht-radio-filter">
        <% Settings.book.list_filter.each do |type| %>
          <label class="radio-inline">
            <%= radio_button_tag :type, type, params[:type] == type %>
            <b><%= type %></b>
          </label>
        <% end %>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-info nht-icon" aria-hidden="true"></i>
        </span>
        <%= f.text_field :title_cont,placeholder: t("book.title"),
          class: "form-control" %>
      </div>

      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-user nht-icon" aria-hidden="true"></i>
        </span>
        <%= f.text_field :author_cont,placeholder: t("book.author"),
          class: "form-control" %>
      </div>
      <div class="nht-btn-search">
        <%= f.submit t(:search), class: "btn btn-primary" %>
      </div>
      <hr>
      <div class="clearfix"></div>
    <% end %>
    <div class="col-sm-10 col-xs-12 col-md-12 col-lg-12 nht-list_book" id="nht-books">
      <%= render "shared/book_index" %>
    </div>
  </div>
</div>
