<div class="col-sm-10 col-xs-10 col-md-10 col-lg-10 col-sm-offset-1
  col-xs-offset-1 col-md-offset-1 col-lg-offset-1">
  <div class="nht-book-box padding">
    <h2 class="nht-book-address-top">
      <%= @book.title %>
    </h2>
    <hr>

    <div class="nht-book-content">
      <div class="col-sm-12 col-xs-10 col-md-4 col-lg-4 nht-book-content-left">
        <div class="nht-book-mark">
          <span id="form_favorite">
            <%= render "form_favorite", mark: @mark %>
          </span>
          <span id="form_mark_read">
            <%= render "form_mark_read", mark: @mark %>
          </span>
          <div class="clearfix"></div>
        </div>
        <%= image_tag @book.photo.url, class: "nht-book-photo" %>
        <div class="nht-book-detail">
          <p class="author"><%= @book.author %></p>
          <p class="publish_date"><em><%= l @book.publish_date, format: :default %></em></p>

          <div class="title">
            <p class="nht-book-attribute"><%= t "book.pages" %>:</p>
            <span class="nht-book-attribute-value"> <%= @book.pages %></span>
            <div class="clearfix"></div>
          </div>

          <div class="nht-book-rate">
            <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 nht-book-rate-left">
              <div class="nht-book-rate-content">
                <h1><%= @book.rate %></h1>
              </div>
              <div class="nht-book-rate-sum">
                <i class="fa fa-user">
                  <%= @supports.sum_rate %>
                </i>
              </div>
            </div>
            <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8 nht-book-rate-right">
              <div class="bar-content five">
                <i class="fa fa-star star"> <%= Settings.rate.load_five_star %></i>
                <span class="bar" data-id="<%= @supports.load_five_star %>">
                  <%= @supports.load_five_star %>
                </span>
                <div class="clearfix"></div>
              </div>

              <div class="bar-content four">
                <i class="fa fa-star star"> <%= Settings.rate.load_four_star %></i>
                <span class="bar" data-id="<%= @supports.load_four_star %>">
                  <%= @supports.load_four_star %>
                </span>
                <div class="clearfix"></div>
              </div>

              <div class="bar-content three">
                <i class="fa fa-star star"> <%= Settings.rate.load_three_star %></i>
                <span class="bar" data-id="<%= @supports.load_three_star %>">
                  <%= @supports.load_three_star %>
                </span>
                <div class="clearfix"></div>
              </div>

              <div class="bar-content two">
                <i class="fa fa-star star"> <%= Settings.rate.load_two_star %></i>
                <span class="bar" data-id="<%= @supports.load_two_star %>">
                  <%= @supports.load_two_star %>
                </span>
                <div class="clearfix"></div>
              </div>

              <div class="bar-content one">
                <i class="fa fa-star star"> <%= Settings.rate.load_one_star %></i>
                <span class="bar" data-id="<%= @supports.load_one_star %>">
                  <%= @supports.load_one_star %>
                </span>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="col-md-8 col-lg-8 nht-book-content-right">
        <div class="nht-book-content-right-detail">
          <div class="nht-book-description">
            <h4 class="nht-book-description-title">
              <%= t "book.description" %>
            </h4>
            <div class="nht-book-description-content">
              <%= @book.description %>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="nht-book-other_book">
    <h4 class="nht-book-other_book-title">
      <%= t "book.other_book" %>
    </h4>
    <div class="w3-content w3-display-container nht-book-other_book-content">
      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">
          <% @books.each_with_index do |book, i| %>
            <% if i == 0 %>
              <div class="item active">
                <div class="col-xs-4 col-md-4"><%= image_tag book.photo.url,
                  id: "nht-book-photo" %></div>
              </div>
            <% else %>
              <div class="item">
                <div class="col-xs-4 col-md-4"><%= image_tag book.photo.url,
                  id: "nht-book-photo" %></div>
              </div>
            <% end %>
          <% end %>
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>

  <div class="nht-book-review">
    <h4>
      <%= t "review.title" %>
      <hr>
    </h4>

    <div class="well">
      <div id="review_form">
      </div>
      <br>
    </div>
  </div>
</div>
