<% if user_signed_in? %>
  <div class="w3-top">
   <ul class="w3-navbar w3-theme-d2 w3-left-align w3-large">
    <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
      <a class="w3-padding-large w3-hover-white w3-large w3-theme-d2"
        href="javascript:void(0);" onclick="openNav()">
        <i class="fa fa-bars"></i>
      </a>
    </li>

    <li>
      <%= link_to root_path, class: "w3-padding-large w3-theme-d4" do %>
        <i class="fa fa-home w3-margin-right"></i>
        <%= t :title %>
      <% end %>
    </li>

    <li class="w3-hide-small" title="<%= t "tooltip.requests" %>">
      <%= link_to user_requests_path(current_user), class: "w3-padding-large w3-hover-white" do %>
        <i class="fa fa-envelope-open"></i>
        <span><%= t "request.all" %></span>
      <% end %>
    </li>

    <li class="w3-hide-small" title="<%= t "tooltip.authors" %>">
      <%= link_to authors_path, class: "w3-padding-large w3-hover-white" do %>
        <i class="fa fa-user"></i>
        <span><%= t "author.all_author" %></span>
      <% end %>
    </li>

    <li class="w3-hide-small" title="<%= t "tooltip.books" %>">
      <%= link_to books_path, class: "w3-padding-large w3-hover-white" do %>
        <i class="fa fa-book"></i>
        <span><%= t "book.all_book" %></span>
      <% end %>
    </li>

    <li class="w3-hide-small w3-dropdown-hover">
      <a href="#" class="w3-padding-large w3-hover-white" title="Categories">
        <i class="glyphicon glyphicon-th-list"></i>
        <span><%= t "category.all_category" %></span>
      </a>
      <div class="w3-dropdown-content w3-white w3-card-4 nht-categories">
        <% @categories.each do |category| %>
          <%= link_to category.name, category %>
        <% end %>
      </div>
    </li>

    <li class="w3-hide-small w3-right w3-dropdown-hover">
      <a href="#" class="w3-padding-large w3-hover-white" title="My Account">
        <%= image_tag current_user.image.url, class: "w3-circle td-img",
        alt: "Avatar" %>
      </a>
      <div class="w3-dropdown-content w3-white w3-card-4 td-dropdown-fix">
        <%= link_to t("profile.title"), current_user, class: "nht-dropdown-fix" %>
        <%= link_to t("sessions.sign_out"), destroy_user_session_path, method: :delete,
          class: "nht-dropdown-fix" %>
      </div>
    </li>

    <li class="w3-hide-small nht-notification-icon" title="<%= t "tooltip.notifications" %>">
      <div class="w3-padding-large w3-hover-white"%>
        <i class="fa fa-globe">
          <div class="nht-notification-count">
            <%= current_user.new_notification %>
          </div>
        </i>
      </div>
      <div class="nht-notifications">
        <ul class="nht-noti-list">
          <% @notifications.each do |notification| %>
            <li class="nht-notification notification-<%= notification.id %>
              <%= notification.read %>-notification">
              <%= link_to notification.book do %>
                <span class="col-md-2 col-lg-2">
                <div class="nht-notification-avatar">
                  <%= image_tag notification.book.photo.url, id: "avatar-#{notification.id}",
                    class: "nht-avatar" %>
                  <div class="clearfix"></div>
                </div>
                </span>
                <span class="col-md-10 col-lg-10 nht-notification-content">
                  <span>
                    <%= notification_content notification %>
                  </span>
                  <div>
                    <%= time_ago_in_words notification.created_at %>
                  </div>
                  <div class="clearfix"></div>
                </span>
                <div class="clearfix"></div>
              <% end %>
            </li>
          <% end %>
          <div class="clearfix"></div>
        </ul>
      </div>
    </li>
   </ul>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top"
    style="margin-top:51px">
    <ul class="w3-navbar w3-left-align w3-large w3-theme">
      <li>
        <%= link_to current_user, class: "w3-padding-large" do %>
          <i class="fa fa-user"></i>
          <%= t :profile %>
        <% end %>
      </li>

      <li>
        <%= link_to destroy_user_session_path, method: :delete, class: "w3-padding-large" do %>
          <i class="fa fa-sign-out"></i>
          <%= t "sessions.sign_out" %>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
